<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1><%= '新規作成' %></h1>

      <%= form_with(model: @event, local: true) do |form| %>
      <form>
        <div class="form-group">
          <%= form.label :event_id %>
          <%= form.number_field :board_id, class: 'form-control', id: 'event_board_id' %>
        </div>
        <div class="form-group">
          <%= form.label :event_id %>
          <%= form.number_field :test_id, class: 'form-control', id: 'event_test_id' %>
        </div>
        <div class="form-group">
          <%= form.label :start_date %>
          <%= form.datetime_select :start_date, class: 'form-control', id: 'event_start_date' %>
        </div>
        <div class="form-group">
          <%= form.label :end_date %>
          <%= form.datetime_select :end_date, class: 'form-control', id: 'event_end_date' %>
        </div>
        <div class="form-group">
          <%= form.label :event_id %>
          <%= form.number_field :event_id, class: 'form-control', id: 'event_event_id' %>
        </div>
        <%= form.submit 'イベント作成', class: 'btn btn-primary' %>
      </form>
      <% end %>
    </div>
  </div>
</div>
